.container{
     background-color: rgb(235, 243, 160);
     text-align: center;
     margin:20px auto;
     padding: 15px;
    
}
.header{
     background: #000;
     color: rgb(245, 28, 180);
     font-size: 30px;
     font-weight: 500;
     padding: 8px;
     text-transform: capitalize;
     margin:20px auto;
     
}
input{
   
     box-shadow: 5px 5px 5px rgb(162, 0, 255);
     font-size:20px;
     padding: 5px;
  
}
span{
     font-size: 20px;
     display: inline !important;
}